<div class="form-group">
	<%= f.label :title, "标题" %>
	<%= f.text_field :title, :class => "form-control", :placeholder => "请输入标题" %>
</div>
<div class="form-group">
	<%= f.label :text, "内容" %>
	<%= f.text_area :text, :class => "form-control", :placeholder => "请输入内容" %>	
</div>
<div class="form-group">
	<%= f.label :tag, "类型" %>
	<% option = [['帖子','post']] %>
	<% if session[:is_administrator] == "true" %>
	<% option += [['公告','notice']] %>
	<% end %>
	<%= f.select :tag,  option, :class => "form-control" %>
</div>