
	<table class="table table-striped table-hover">
	<% num = 1 %>
	<% count = 0 %>
	<% @articles.each do |article| %>
	<% if @flag[num-1] %>
	<% count += 1 %>
	<tr class="active">
		<% tag = article.tag %>
		<% if tag == "post" %>
		<% type = "帖子 " %>
		<% type_color = "info" %>
		<% type_icon = "fa-comment-o" %>
		<% elsif tag == "notice" %>
		<% type = "公告 " %>
		<% type_color = "success" %>
		<% type_icon = "fa-bookmark" %>
		<% elsif tag == "great" %>
		<% type = "精华 " %>
		<% type_color = "danger" %>
		<% type_icon = "fa-star" %>
		<% end %>
		<td><h5 class="text-<%= type_color %>"><i class="fa <%= type_icon %>"><%= type + num.to_s %></h5></td>>
		<td><h4><strong><%= link_to article.title, article_path(article) %></strong></h4></td>
		<td><h5 class="text-danger"><%= article.author %></h5></td>
		<td><h5><%= article.created_at.to_s[0,19] %></h5></td>
	</tr>
	<% end %>
	<% num += 1 %>
	<% end %>
	<h4 class="text-success"><%= "匹配的帖子数: " + count.to_s %></h4>
	</table>